html
  head
    title Minode
    link(rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="style/layout.css")
  body
    script(src="script/minode.js")