body, html {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.no-float {
    float: none;
}

.h100 {
    height: 100%;
}

.container-fluid {
    width: 100%;
}

#headerRow {
    height: 40px;
    background: #262321;
    border-bottom: #f0f0f0;
    color: #f0f0f0;
}

#headerRow header > * {
    float: left;
    margin: 10px;
}

#headerRow h1 {
    margin: 10px 0;
    font-size: 1.3em;
}

#headerRow input, #headerRow select {
    color: #262321;
}

#contentRow {
    height: 100%;
    margin-top: -40px;
    padding-top: 40px;
}

.container-fluid > .row > div {
    height: 100%;
	/* overflow-y: auto; */
}

#contentCell {
    padding: 10px;
}